body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    color: white;
    gap: 8px;
    padding: 8px;
}

.row {
    background-color: darkblue;
    display: flex;
    gap: 8px;
}

button {
    width: 81px;
    height: 80px;
    background-color: yellow;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    transition: 0.1s;
}

button:active {
    transform: scale(0.98);
}

#zero {
    width: 170px;
}

.row4left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row4row {
    display: flex;
    gap: 8px;
}

#equal {
    height: 168px;
}

.display {
    font-size: 48px;
    text-align: right;
    flex: 1;
    background-color: grey;
    padding: 8px;
    letter-spacing: 2px;
}

#clear {
    font-size: 32px;
}

.operator,
.modifier {
    font-size: 40px;
}